#section3 {
  height: 540px;
  background-color: #f0efeb;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.dragable {
  display: flex;
  flex-wrap: nowrap;
}
.drag-image {
  width: 25%;
}
.drag-body {
  margin-top: 35px;
  width: 75%;
}
