.footer2 {
  text-align: center;
  border-top: 1px solid #d6d6d6;
  background-color: #212121;
  height: 20px;
  line-height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.footer2 a {
  color: white;
  text-decoration: none;
}
