#footer1 {
  height: 430px;
  margin: auto;
  background-color: #f26347;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: auto;
}
.hr-footer {
  margin: auto;
  margin-top: 60px !important;
  height: 1px;
  width: 960px;
  border: 0px solid rgb(0, 0, 0);
  background-color: #f1593c;
  box-shadow: 0px 0px 0px #ffffff;
}
.footer-headline h2 {
  font-family: Josefin Sans;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  direction: ltr;
  font-size: 50px;
  color: #ffffff;
}
.footer-headline2 h2 {
  font-family: Josefin Sans;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  direction: ltr;
  font-size: 30px;
  color: #ffffff;
}
.footer-body{
  padding-top: 50px;
}
.footer-button
{
  padding-top: 30px;
}
.icon-contact
{
  padding-top: 25px;
}
.icon-contact img {
  padding-left: 10px;
  padding-right: 10px;
}
.footer-text p span {
  color: white;
  font-size: 14px;
}
.footer-text p {
  margin-top: 1;
}